# Data Science Tools and Ecosystem

## Author
Zhu Jianzhong

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* introduction
* List popular languages for Data Science
* data science libraries
* Data Science tools
* arithmetic expression

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Seaborn
4. Matplotlib
5. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|JypyterLab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [22]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335